@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  typography: Roboto,
  density: 0,
));
